<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

    <title>To do App </title>
    <style>
        body{
            background-color: aquamarine;
        }
        #task-container{
            max-width: 800px;
            margin: 0 auto;
            background-color: #fff;
            border:1px solid #fff;
            padding: 10px;
            border-radius: 10px;
            margin-top: 20px;
        }

        .task-wrapper .task-info{
            display: inline-block;
            padding: 10px 0;
        }
        .task-wrapper .task-info.one{
            width: 70%;
        }
        .task-wrapper .task-info.two,.task-wrapper .task-info.three{
            width: 14%;
            text-align: center;
        }
        .task-wrapper .task-title{
            cursor: pointer;
        }
        .task-wrapper .task-title.completed{
            text-decoration: line-through;
        }
        .task-wrapper .task-title.not-completed{
            text-decoration: none;
        }
    </style>
</head>
<body>
    <!-- Inicio Task Container -->
    <div id="task-container">
        <h1 class="text-center">To do Task List</h1>
        <!-- Inicio Task Container -->
        <div id="form-wrapper">
            <!-- Inicio Form -->
            <form id="form">
                <div class="form-group">
                  <label for="title">Title</label>
                  <input type="text" class="form-control" id="title" aria-describedby="titleHelp" name="title">
                  <small id="titleHelp" class="form-text text-muted">Add the title for the task.</small>
                </div>
                <button type="submit" class="btn btn-primary">Add</button>
              </form>
              <!-- Fin Form -->
        </div>
        <!-- Fin Form Container -->

        <!-- Inicio Task List Container -->
        <div id="list-wrapper">
        </div>
        <!-- Fin Task List Container -->
        
    </div>
    <!-- Fin Task Container -->

    <script
    src="https://code.jquery.com/jquery-3.5.1.js"
    integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
    crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>
    <!--Main Script-->
    <script>
        console.log('!!! Main loaded');
        //Edit or new item
        var active_item = null;

        //Form submit
        const form = document.getElementById('form-wrapper');
        console.log('Form ==> ',form);
        //Agrego el evento en el form
        form.addEventListener('submit',function(e){
            e.preventDefault();
            e.stopPropagation();
            console.log('Submit ==>',e);

            var url = 'http://127.0.0.1:8000/api/task-create/';

            if(active_item !== null){
                url = 'http://127.0.0.1:8000/api/task-update/'+active_item.id+'/';
                //Reset active item
                active_item = null;
            }
            const title = document.getElementById('title');
            fetch(url,{
                method:'POST',
                headers:{
                    'Content-type':'application/json',

                },
                body: JSON.stringify({
                    'title': title.value
                })
            }).then(function(resp){
                console.log('Adding ==> ',resp);
                build_list();
                //Resteo el form
                document.getElementById('form').reset();
            });

        });


        function edit_item(){
            console.log('Edit item ==>');
        }

        function build_list(){
            const list_wrapper = document.getElementById('list-wrapper');
            list_wrapper.innerHTML = '';
            //Get the data from the API
            var url = 'http://127.0.0.1:8000/api/task-list/';

            fetch(url).then((resp) => {
                //console.log('Resp ==>',resp);
                return resp.json();
            }).then(function(data){
                console.log('Data ==> ',data);
                var list = data;
                for(var index in list){
                    //console.log(index,list[index]);
                    //Genero el HTML para el listado de tareas
                    const item = list[index];
                    const task = `
                    <div id="data-row-${index}" class="task-wrapper">
                        <div class="task-info one">
                            <span class="task-title">${item.title}</span>    
                        </div>
                        <div class="task-info two">
                            <button class="btn btn-warning edit"> Edit</button>    
                        </div>
                        <div class="task-info three">
                            <button class="btn btn-danger delete"> Delete</button>    
                        </div>         
                    </div>`;
                    //Actualizamos el HTML
                    list_wrapper.innerHTML = list_wrapper.innerHTML + task;

                }

                const btn_edit = document.getElementsByClassName('edit');
                const btn_delete = document.getElementsByClassName('delete');
                
                //console.log('Edit btn ==>',btn_edit);    
                for(var index in list){
                    
                    //console.log('Index ==>',index);
                    //console.log('Btn ==> ',btn_edit[index]);
                    //Closure que recuerda el valor actual del index al ser ejecutado
                    (function x(i){
                        console.log('Index ==>',i);
                        console.log('Btn ==> ',btn_edit[i]);
                        btn_edit[i].addEventListener('click',function(e){
                            console.log('Index ==>',i);
                            edit_item(list[i]);
                        });

                        btn_delete[i].addEventListener('click',function(e){
                            console.log('Index ==>',i);
                            delete_item(list[i]);
                        });
                        
                    })(index);
                }


            });

        }

        //Editar recibe un objeto de la lista de tareas obtenidas desde la DB
        function edit_item(item){
            console.log('Edit item ==>',item);
            active_item = item;
            //Set the title
            document.getElementById('title').value = active_item.title;
        }

        //ELiminar
        function delete_item(item){
            console.log('Delete item ==>',item);
        }
        //Carga la lista de tareas
        build_list();

    </script>
</body>
</html>